name: golangci-lint

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: 'golangci-lint'
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v5.0.1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0

